node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
xcrow-b8385-firebase-adminsdk-fbsvc-1730b7e6b2.json
.env
PAYOUT_SYSTEM.md
"xcrow-b8385-firebase-adminsdk-fbsvc-1730b7e6b2.json"  
".env"  
"PAYOUT_SYSTEM.md" 
